h1 {background-position: center;
color: blue}
body {background-color: grey;
  background-repeat: no-repeat;
  background-attachment: fixed;
background-size: auto;
background-position: center;
background-size:cover;
  background-image: url("https://e7.pngegg.com/pngimages/176/428/png-clipart-chimichanga-deadpool-fan-art-chimichanga-chibi-fictional-character.png") ;
}
